<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>产品详情</title>
		<link rel="stylesheet" type="text/css" href="css/base.css"/>
		<link rel="stylesheet" type="text/css" href="css/common.css"/>
		<link rel="stylesheet" type="text/css" href="css/shop-cart.css"/>
		<link rel="stylesheet" type="text/css" href="css/style.css"/>
		<script type="text/javascript" src="js/jquery-1.11.0.js"></script>
		<script type="text/javascript" src="js/common.js"></script>
		
	</head>
	<body>
		<div class="header">
			<div class="top">
				<div class="container">
					<div class="left select_address">
						<span>送至:</span>
						<select>
							<option>广州</option>
							<option>深圳</option>
							<option>广州</option>
						</select>
					</div>
					<div class="right">
						<p>您好！欢迎来到LOTOPA</p>
						<ul class="index-enter">
							<li><a href="login.html" class="line active" id="userLogin">请登录</a></li>
							<li><a href="register.html" class="line" id="userRegister">免费注册</a></li>
							<li><a href="###" class="line">我的收藏</a></li>
							<li><a href="###" class="triggle">关注LOTOPA</a>
								<dl>
									<dd><a href="###">关注LOTOPA</a></dd>
									<dd><a href="###">关注LOTOPA</a></dd>
									<dd><a href="###">关注LOTOPA</a></dd>
								</dl>
							</li>
							<li><a href="###" class="triggle">客户服务</a>
								<dl>
									<dd><a href="###">客户服务</a></dd>
									<dd><a href="###">客户服务</a></dd>
									<dd><a href="###">客户服务</a></dd>
								</dl>
							</li>
							<li><a href="###" class="triggle">网站导航</a>
								<dl>
									<dd><a href="###">网站导航</a></dd>
									<dd><a href="###">网站导航</a></dd>
									<dd><a href="###">网站导航</a></dd>
								</dl> 
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="center">
				<div class="container ov">
					<div class="logo">
						<a href="index.html"><img src="images/png/logo.png" title="欢迎来到LOTOPA" alt="LOTOPA"/></a>
					</div>
					<div class="find">
						<form class="search">
							<input type="text" class="txt"/>
							<input type="button" value='搜索' class="btn"/>
						</form>
						<ul class="key-word ov">
							<li><a href="product.html">吊坠</a></li>
							<li><a href="product.html" class="active">戒指</a></li>
							<li><a href="product.html">项链</a></li>
							<li><a href="product.html">耳饰</a></li>
							<li><a href="product.html">吊坠</a></li>
							<li><a href="product.html" class="active">戒指</a></li>
							<li><a href="product.html">项链</a></li>
						</ul>
					</div>
					<div class="cart">
						<a href="shop-cart.html"><span class="shopcart"><b class="badge">0</b></span></a>
						<a href="shop-cart.html" class="cart-a">购物车</a>
						<span class="triggle"></span>
					</div>
				</div>
			</div>
			<div class="nav" role="navigation">
				<div class="container">
					<div class="nav-menu">
						<a href="javascript:void(0);" class="all">所有商品</a>
						<ul>
							<li>
								<span class="left left-ring"></span>
								<a href="###">戒指</a>
								<span class="right"></span>
								<div class="nav-details">
									<p>当季流行 ></p>
									<dl>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
									</dl>
									<p>潮流饰品 ></p>
									<dl>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
									</dl>
								</div>
							</li>
							<li>
								<span class="left left-necklace"></span>
								<a href="###">项链</a>
								<span class="right"></span>
								<div class="nav-details">
									<p>当季流行 ></p>
									<dl>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
									</dl>
									<p>潮流饰品 ></p>
									<dl>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
									</dl>
								</div>
							</li>
							<li>
								<span class="left left-bracelet"></span>
								<a href="###">手链</a>
								<span class="right"></span>
								<div class="nav-details">
									<p>当季流行 ></p>
									<dl>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
									</dl>
									<p>潮流饰品 ></p>
									<dl>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
									</dl>
								</div>
							</li>
							<li>
								<span class="left left-earrings"></span>
								<a href="###">耳饰</a>
								<span class="right"></span>
								<div class="nav-details">
									<p>当季流行 ></p>
									<dl>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
									</dl>
									<p>潮流饰品 ></p>
									<dl>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
									</dl>
								</div>
							</li>
							<li>
								<span class="left left-bead"></span>
								<a href="###">串珠</a>
								<span class="right"></span>
								<div class="nav-details">
									<p>当季流行 ></p>
									<dl>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
									</dl>
									<p>潮流饰品 ></p>
									<dl>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
									</dl>
								</div>
							</li>
							<li>
								<span class="left left-diamonds"></span>
								<a href="###">配饰</a>
								<span class="right"></span>
								<div class="nav-details">
									<p>当季流行 ></p>
									<dl>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
									</dl>
									<p>潮流饰品 ></p>
									<dl>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
									</dl>
								</div>
							</li>
							<li>
								<span class="left left-ring"></span>
								<a href="###">戒指</a>
								<span class="right"></span>
								<div class="nav-details">
									<p>当季流行 ></p>
									<dl>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
									</dl>
									<p>潮流饰品 ></p>
									<dl>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
									</dl>
								</div>
							</li>
							<li>
								<span class="left left-necklace"></span>
								<a href="###">项链</a>
								<span class="right"></span>
								<div class="nav-details">
									<p>当季流行 ></p>
									<dl>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
									</dl>
									<p>潮流饰品 ></p>
									<dl>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
									</dl>
								</div>
							</li>
							<li>
								<span class="left left-bracelet"></span>
								<a href="###">手链</a>
								<span class="right"></span>
								<div class="nav-details">
									<p>当季流行 ></p>
									<dl>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
									</dl>
									<p>潮流饰品 ></p>
									<dl>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
									</dl>
								</div>
							</li>
							<li>
								<span class="left left-earrings"></span>
								<a href="###">耳饰</a>
								<span class="right"></span>
								<div class="nav-details">
									<p>当季流行 ></p>
									<dl>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
									</dl>
									<p>潮流饰品 ></p>
									<dl>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
									</dl>
								</div>
							</li>
							<li>
								<span class="left left-bead"></span>
								<a href="###">串珠</a>
								<span class="right"></span>
								<div class="nav-details">
									<p>当季流行 ></p>
									<dl>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
									</dl>
									<p>潮流饰品 ></p>
									<dl>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
									</dl>
								</div>
							</li>
							<li>
								<span class="left left-diamonds"></span>
								<a href="###">配饰</a>
								<span class="right"></span>
								<div class="nav-details">
									<p>当季流行 ></p>
									<dl>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
									</dl>
									<p>潮流饰品 ></p>
									<dl>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
										<dd><a href="product.html">HOLLE KITTY戒指</a></dd>
									</dl>
								</div>
							</li>
						</ul>
					</div>
					<div class="navigation">
						<ul>
							<li><a href="index.html">商品首页</a></li>
							<li><a href="product.html">新品上新</a></li>
							<li><a href="product.html">时尚热卖</a></li>
							<li><a href="product.html">商城同款</a></li>
							<li><a href="product.html">折扣专区</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="content">
		<div class="container">
			<div class="min-title">
				<span>
					<a href="index.html">首页</a> >
					<a href="user.html"><i>个人中心</i></a> >
					<a href="shop-cart.html"><i>购物车</i></a>
				</span>
			</div>
			<div class="shop-top">
				<ul>
					<li class="top-active">
						<div>
							<span>1</span>
						</div>
						<p>我的购物车</p>
					</li>
					<li>
						<div>
							<span>2</span>
						</div>
						<p>确认订单</p>
					</li>
					<li>
						<div>
							<span>3</span>
						</div>
						<p>提交订单</p>
					</li>
				</ul>
			</div>
			<div class="shop-cart">
				<div class="cart-top">
					<div class="check-div">
						<label class="icheck">
							<input gh=213 type="checkbox" class="all-check"/>
							<span></span>
							全选
						</label>
					</div>
					<div class="message-div">
						商品信息
					</div>
					<div class="color-msg"></div>
					<div class="price-div">
						单价（元）
					</div>
					<div class="number-div">
						数量
					</div>
					<div class="total-div">
						金额（元）
					</div>
					<div class="operation-div">
						操作
					</div>
				</div>
				<div class="shop" ng-controller='cartController'>
					<ul>
						<li ng-repeat="item in proList">
							<div class="check-div">
								<label class="icheck">
									<input type="checkbox" class="check-box"/>
									<span></span>
								</label>
								<a href="pro_details.html" class="shop-img">
									<img src="images/pro_details02.jpg" alt="" class="pro-img"/>
								</a>
							</div>
							<div class="message-div">
								<a href="pro_details.html" class="title" ng-bind='item.title' >925银新品 日韩手链 女 潮人饰品 hello kitty链条 链子 生日礼物</a>
							</div>
							<div class="color-msg">
								<span>颜色：</span><span class="color">红</span>
							</div>
							<div class="price-div">
								<span>￥</span><span id="price" class="price">0.99</span>
							</div>
							<div class="number-div">
								<span class="reduce">-</span>
								<input type="text" ng-model="inputValue[$index]" class="num" value="1" />
								<span class="add">+</span>
							</div>
							<div class="total-div">
								<span class="total">0.99</span>
							</div>
							<div class="operation-div">
								<a href="###">移动到我的收藏</a>
								<a href="javascript:;" class="delete">删除</a>
							</div>
						</li>

						<li ng-repeat="item in proList">
							<div class="check-div">
								<label class="icheck">
									<input type="checkbox" class="check-box"/>
									<span></span>
								</label>
								<a href="pro_details.html" class="shop-img">
									<img src="images/pro_details02.jpg" alt="" class="pro-img"/>
								</a>
							</div>
							<div class="message-div">
								<a href="pro_details.html" class="title" ng-bind='item.title' >925银新品 日韩手链 女 潮人饰品 hello kitty链条 链子 生日礼物</a>
							</div>
							<div class="color-msg">
								<span>颜色：</span><span class="color">红</span>
							</div>
							<div class="price-div">
								<span>￥</span><span id="price" class="price">0.99</span>
							</div>
							<div class="number-div">
								<span class="reduce">-</span>
								<input type="text" ng-model="inputValue[$index]" class="num" value="1" />
								<span class="add">+</span>
							</div>
							<div class="total-div">
								<span class="total">0.99</span>
							</div>
							<div class="operation-div">
								<a href="###">移动到我的收藏</a>
								<a href="javascript:;" class="delete">删除</a>
							</div>
						</li>

						<li ng-repeat="item in proList">
							<div class="check-div">
								<label class="icheck">
									<input type="checkbox" class="check-box"/>
									<span></span>
								</label>
								<a href="pro_details.html" class="shop-img">
									<img src="images/pro_details02.jpg" alt="" class="pro-img"/>
								</a>
							</div>
							<div class="message-div">
								<a href="pro_details.html" class="title" ng-bind='item.title' >925银新品 日韩手链 女 潮人饰品 hello kitty链条 链子 生日礼物</a>
							</div>
							<div class="color-msg">
								<span>颜色：</span><span class="color">红</span>
							</div>
							<div class="price-div">
								<span>￥</span><span id="price" class="price">0.99</span>
							</div>
							<div class="number-div">
								<span class="reduce">-</span>
								<input type="text" ng-model="inputValue[$index]" class="num" value="1" />
								<span class="add">+</span>
							</div>
							<div class="total-div">
								<span class="total">0.99</span>
							</div>
							<div class="operation-div">
								<a href="###">移动到我的收藏</a>
								<a href="javascript:;" class="delete">删除</a>
							</div>
						</li>
					</ul>
				</div>
				<div class="cart-bottom">
					<div class="bottom-left">
						<div class="check">
							<label class="icheck">
								<input type="checkbox" class="all-check"/>
								<span></span>
								全选
							</label>
						</div>
						<a href="javascript:;" class="deleteCheck">删除</a>
						<a href="javascript:;">收藏</a>
						<a href="javascript:;">分享</a>
					</div>
					<div class="bottom-right">
						<div class="span">
							<span>已选商品<span class="check-num">0</span>件</span>
							<span>合计（不含运费）：</span>
							<span class="total-num">￥<span class="maxtotal">0</span></span>
						</div>
						<input type="button" value='结 算' class="btn" onclick='window.location="comfire-order.html"'/>
					</div>
				</div>
				
			</div>
		</div>
		</div>
		<div class="footer">
			<div class="container">
				<div class="footer-top">
					<ul class="promise">
						<li>
							<div>
								<span>品</span>
								<p>品质保障</p>
							</div>
						</li>
						<li>
							<span>七</span>
							<p>七天无理由退换货</p>
						</li>
						<li>
							<span>特</span>
							<p>特色服务体验</p>
						</li>
						<li>
							<span>百</span>
							<p>百万用户口碑</p>
						</li>
						<li>
							<span>全</span>
							<p>全国保价</p>
						</li>
						<li>
							<span>帮</span>
							<p>帮助中心</p>
						</li>
					</ul>
					<ul class="footer-list">
						<li>
							<dl>
								<dt><a href="###">服务保证</a></dt>
								<dd><a href="###">正品保证</a></dd>
								<dd><a href="###">放心退货</a></dd>
								<dd><a href="###">退返运费</a></dd>
								<dd><a href="###">客户服务</a></dd>
							</dl>
						</li>
						<li>
							<dl>
								<dt><a href="###">购物指南</a></dt>
								<dd><a href="###">导购演示</a></dd>
								<dd><a href="###">放心退货</a></dd>
								<dd><a href="###">会员注册</a></dd>
								<dd><a href="###">帐号管理</a></dd>
								<dd><a href="###">收货样品</a></dd>
								<dd><a href="###">会员等级</a></dd>
								
							</dl>
						</li>
						<li>
							<dl>
								<dt><a href="###">支付方式</a></dt>
								<dd><a href="###">快捷支付</a></dd>
								<dd><a href="###">网银支付</a></dd>
								<dd><a href="###">货到付款</a></dd>
								<dd><a href="###">银联支付</a></dd>
								<dd><a href="###">微信支付</a></dd>
								
							</dl>
						</li>
						<li>
							<dl>
								<dt><a href="###">配送方式</a></dt>
								<dd><a href="###">配送范围</a></dd>
								<dd><a href="###">货签收货</a></dd>
							</dl>
						</li>
						<li>
							<dl>
								<dt><a href="###">售后服务</a></dt>
								<dd><a href="###">退货政策</a></dd>
								<dd><a href="###">退货流程</a></dd>
								<dd><a href="###">退货方式</a></dd>
							</dl>
						</li>
						<li>
							<dl>
								<dt><a href="###">LOTOPIA 二维码</a></dt>
								<dd><img src="images/png/code.png"/></dd>
							</dl>
						</li>
					</ul>
				</div>
				<div class="footer-nav">
					<ul>
						<li><a href="###">关于我们</a> <span>|</span></li>
						<li><a href="###">About us</a> <span>|</span></li>
						<li><a href="###">Investor Relations</a> <span>|</span></li>
						<li><a href="###">媒体报道</a> <span>|</span></li>
						<li><a href="###">品牌招商</a> <span>|</span></li>
						<li><a href="###">隐私条款</a> <span>|</span></li>
						<li><a href="###">友情链接</a> <span>|</span></li>
						<li><a href="###">LOTOPIA 诚聘</a> <span>|</span></li>
						<li><a href="###">爱心资金</a> <span>|</span></li>
						<li><a href="###">LOTOPIA 卡</a> <span>|</span></li>
						<li><a href="###">用户体验提升计划</a> <span>|</span></li>
						<li><a href="###">联系我们</a></li>
					</ul>
				</div>
				<div class="copyright">
					<span>版权所有：lotopia官方店  lotopia官网商城</span>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="js/shop-cart1.js"></script>
	</html>
